.formulario {
	width: 70%;
	height: 250px;
	margin-left: 15%;
	background: #F7E5BF;
	margin: 50px auto;
	border: 2px solid black;
	padding: 20px;
}

.formulario input {
	display: block;
	margin: 10px 25%;
	text-align: left;
	font-size: 18px;
	background: #F1AB16;
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
}

.formulario label {
	margin: 10px 20%;
}

.formulario .enviar {
	text-align: center;
	font-size: 20px;
	background: #F1AB16;
	width: 100px;
	height: 40px;
}